.course_des_bg {
  .course_des_ttle {
    i {
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: 0.2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: 0.2em;
      font-size: 15px;
    }
  }
}

#add-course-tab > .step-content {
  padding-top: 30px;
}
