.sign_in_up_bg:before {
  content: "";
  background: url(./images/sign.svg) no-repeat center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  background-size: cover;
  opacity: 0.04;
}
